.alert {
    ul {
        margin: 0 !important;
        padding: 0 !important;
        min-width: 350px;

        li {
            list-style: none !important;
            font-size: 13px;
            letter-spacing: 1.5px;
        }
    }
}
