.openpay-container {
    .headers {
        div {
            min-height: 100px;
            text-align: center;
            &.col-md-4 {
                background-image: url('http://admin.agualu.com/public/img/openpay/cards1.png');
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
            }

            &.col-md-8 {
                background-image: url('http://admin.agualu.com/public/img/openpay/cards2.png');
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                @media all and (max-width: 480px) {
                    background-size: contain;
                }
            }
        }
    }
}
